body {
  margin:0;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(207, 206, 206, 0.8);
  padding: 20px;
  border-radius: 2vh;
  max-height: 90vh;
  max-width: 130vh;
  min-width: 130vh;
  overflow-y: auto;
  border: 3px solid black;
}

.attributsGroup {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.attribut {
  display: flex;
  justify-content: center;
}

.attribut p {
  margin: 13px;
}

.dataContainer * {
  max-height: 100%;
  margin: 5px 0;
  width: auto;
  height: auto;
  overflow: hidden;
}

.dataContainer button {
  width: 20vh;
  margin: 2vh auto;
}

.cardName {
  font-size: larger;
  display: flex;
  justify-content: center;
}

.info {
  display: flex;
  align-items: center;
}

.info svg {
  margin-right: 10px;
}

.info p.name {
  margin-right: 5px;
}

.name {
  font-weight: bold;
}

.dataContainer svg {
  width: 5vh;
  height: 5vh;
}

@media only screen and (max-width: 767px) {
  .dataContainer {
    max-height: 82vh;
    min-width: 32vh;
    width: 32vh;
  }

  .dataContainer {
    max-width: 44vh;
  }

  .dataContainer * {
    height: auto;
    width: auto;
  }

  .attributsGroup {
    height: 6%;
  }

  .dataContainer button {
    width: 50%;
    margin: 10px auto;
  }

  .name {
    height: auto;
    width: auto;
  }
}
