.bg {
  background-image: url('/assets/Old-Kingdom.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.collectionContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 85%;
  padding: 20px;
  border-radius: 2vh;
  position: relative;
}

.collectionImage {
  flex: 1;
}


