body {
  margin:0%;
}

.bg {
  background-image: url('/assets/Old-Kingdom.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

img {
  max-height: 70vh; /* Définition de la hauteur minimale de la carte à 70vh */
}

@media only screen and (max-width: 767px) {
  /* Ajustement de la hauteur de la carte pour les appareils mobiles */
  img {
    height: 32vh;
    min-height: initial; /* Réinitialisation de la hauteur minimale */
  }
}
