body {
  margin: 0;
}

.background-image {
  background-image: url('/assets/hieroglyphics-characters-golden-egypt.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity: 0.9;
}

.fade-in {
  opacity: 0;
  font-size: 0;
  color: white;
  text-shadow: 0 0 5px black;
  animation: fadeInAnimation 2s ease forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
    font-size: 0;
  }
  to {
    opacity: 1;
    font-size: 3em;
  }
}

.chest-button {
  background-color: #c31414;
  padding: 30px 40px;
  border: 5px solid #000000;
  display: inline-block;
  position: absolute;
  bottom: 20px;
  transition: all 0.3s ease; /* Ajout de l'effet de transition */
  transform-origin: center bottom; /* Définir le point d'origine de la transformation */
}

.chest-button:hover {
  background-color: #a70d0d;
}

.chest-button:active {
  transform: translateY(5px) rotateX(90deg); /* Appliquer la transformation lors du clic */
}
